Welcome, {{user.profile.displayName}}

<table>
  <thead>
    <th>Date</th>
    <th>Steps</th>
  </thead>
  <tbody>
    {{> usersteps}}
  </tbody>
</table>

<form id="dates">
  <input type="date" name="start-date" required>
  <input type="date" name="end-date" required>
  <button id="update">Update</button>
</form>